<div class="mid about-section">
    <div class="center-content grid-wrapper">
        <div class="box-2">
            <h3>About <span class="name">EndriT</span></h3>
            <p>
                Motivated programmer with strong foundation 
                in software engineering and programing principles 
                across multiple platforms. 
                Knowledge in the development of products through 
                the software lifecycle; from requirements definition 
                through successful deployment.
            </p>
            <img src="../assets/images/memory.png" alt="">
        </div>
        <div class="box-2">
<pre>
<code style="color: #8BD3DD;">{{
    "name": <span class="secondcolor">"Endrit Kryeziu"</span>,
    "email": <span class="secondcolor">"enokryeziu@gmail.com"</span>,
    "version": <span class="secondcolor">"28.02.1996"</span>,
    "license": {
        "type": <span class="secondcolor">"BSc Computer Science and Engineering"</span>, 
        "url": <span class="secondcolor">"https://ubt-uni.net"</span>
    },
    "directories": {
        "Pristina": <span class="secondcolor">"Kosovo"</span>
    },
    "repository": {
        "type": <span class="secondcolor">"git"</span>,
        "url": <span class="secondcolor">"https://github.com/enokryeziu"</span>
    },
    "dependencies": {
        "java": <span class="secondcolor">"^8.0.0"</span>,
        "spring-boot": <span class="secondcolor">"2.0.0"</span>,
        "laravel": <span class="secondcolor">"~5.6.0"</span>,
        "angular": <span class="secondcolor">"^7.0.0"</span>,
        "postgresql": <span class="secondcolor">"12.0.0"</span>,
        "html": <span class="secondcolor">"~5.0.0"</span>,
        "css": <span class="secondcolor">"~3.0.0"</span>
    },
    "tools": [ 
    <span class="secondcolor">"photoshop", "adobe-xd", "intellij"</span>
    ],
    "keywords": [
        <span class="secondcolor">"microservices", "software", "web", "rest", "api"</span>
    ]
}</code>
</pre>
        </div>
    </div>

</div>